body {
  background-color: rgb(136, 136, 136);
  position: relative;
  bottom: 50px;
}

#shiftId {
  display: none;
}

#outInput {
  display: none;
}

#check {
  display: none;
}

#tipo select {
  padding: 5px;
  margin-bottom: 25px;
  background-color: darkgray;
  border-radius: 5px;
  color: black;
}


.check {
flex-direction: row;
justify-content: space-between;
padding: 8px;
margin-top: 20px; 
}

.check-container {
  display: block;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

.check-container input {
  position: start;
  opacity: 0;
  cursor: pointer;
  
}

.checkmark {
  margin: 0px 6px;
  height: 19px;
  width: 25px;
  border-radius: 50% ;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  
}

.check-container input:checked ~ .checkmark:after {
  display: block;
}


.check-container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

label {
  font-family: sans-serif;
  color: black;
  position: relative;
}

#container2 {
  position: relative;
  left: 35%;
  top: 140px;
  background: limegreen;
  border-radius: 10px;
  padding: 10px 60px;
  width: 400px;
  flex-direction: column;
  box-shadow: 0 0 17px rgba(0,0,0,0.2);
}

textarea {
  background: darkgray;
  color: black;
  outline: none;
  border-radius: 6px;
  text-align: center;
  margin-bottom: 60px;
  position: relative;
  top: 30px;
  cursor: pointer;
  width: 300px;
  height: 70px;
}

#codeBtn, #decodeBtn{
  transform: scale(1.5);
  right: 100px;
  display: none;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  background: darkgray;
  color: black;
  font-family: sanss-serif;
  font-size: 14px;
  padding: 8px 10px;
  margin-bottom: 15px;
}

#shift {
  transform: scale(1.5);
  outline: none;
  cursor: pointer;
  border: 0.1px solid black;
  background-color: darkgray;
  color: black;

}

#container1 {
  text-align: center;
  background: limegreen;
  border-radius: 10px;
  padding: 10px 60px;
  width: 400px;
  box-shadow: 0 0 17px rgba(0,0,0,0.2);
  position: relative;
  left: 35%;
  top: 130px;
  font-family: cursive;
  cursor: pointer;
}

#container1, #container2 {
  display: flex;
  justify-content: center;
  align-items: center;
}